* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: weight 400;
}
h2 {
    text-align: center;
    color: blue;
    padding: 20px 0 40px;
}
canvas {
    margin-bottom: 40px;
}
.select-country{
   width: 100%;
    max-width: 1000px; 
    background: #fbfbfb;
    padding: 10px 20px;
    margin-bottom: 40px;
}
form{
    max-width: 1000px;
    width: 100%; 
    text-align: center;
    background:#fbfbfb;
    padding: 100px 0;
}
#title{
    color: skyblue;
}
.alignRight{
    text-align: end!important;
    padding:0;
}
select{
    margin: 20px 20px 0;
    padding: 10px;
    border: none;
    outline: none;
    background: #f7f7f7;
    border-radius: 5px;
}
.select-country{
    display: none   ;
}