/* 
-------------------------------------------------------------------------------
----------------------- Header Section Style -------------------------
--------------------------------------------------------------------------------
*/
.logo img{
    max-width: 100%;
    width:7rem;
}
/* 
-------------------------------------------------------------------------------
----------------- Training video Section Style ---------------------
--------------------------------------------------------------------------------
*/
.training-video{
    padding:1rem 0;
}
.training-video video{
    height: 20rem;
}
.training-video h4 {
    border-bottom: .2rem solid #FFDA27;
    color: #47A5CD;
    text-transform: capitalize;
    padding-bottom: .5rem;
}
.btn-watched-video{
    text-transform: capitalize;
    background: #FFDA27;
    color: #FFFFFF;
    margin-top: 1rem;
    border-radius: .5rem;
}
/* 
-------------------------------------------------------------------------------
--------------------- Prospect Section Style -------------------------
--------------------------------------------------------------------------------
*/
.prospects h4{
    text-transform: uppercase;
    font-size: 1.8rem;
}
.square-wrap{
    justify-content: space-between;
    padding: 3rem 0;
}
.copyright p,
.copyright p span .brand {
    color: #FFFFFF;
}
.prospects .single-square1,
.prospects .single-square2,
.prospects .single-square3,
.prospects .single-square4,
.prospects .single-square5{
    padding: 3rem .5rem;
    text-align: center;
}
.prospects .single-square1{
    background-image: linear-gradient(to right, #6178B7, #CAD2E7);
}
.prospects .single-square2{
    background-image: linear-gradient(to right, #2BC4FA, #BDEDFD);
}
.prospects .single-square3{
    background-image: linear-gradient(to right, #98DE88, #E1F6DD);
}
.prospects .single-square4{
    background-image: linear-gradient(to right, #F87B49, #FCD7C8);
}
.prospects .single-square5{
    background-image: linear-gradient(to right, #158FFF, #D2E9FF);
}
.prospects p{
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
}
.square-info span{
    color: #fff;
}
.square-content{
    background: #F3F7F9;
    padding: 1rem 0 2rem;
    height: 30rem;
}
.square-content h6{
    margin-top: 10rem;
    color: #ACACAC;
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
}
.add-prospect {
    text-align: right;
    border-bottom: .2rem solid #FFFFFF;
    padding-bottom: 1rem;
}
.add-prospect button{
    margin-right: 1.5rem;
    background: #FFDA27;
    color: #FFFFFF;
}
.content-wrapper {
    border: 0rem solid #d8d7d7;
}
.team-section .add-prospect{
    margin-top: 1.5rem;
}
/* 
-------------------------------------------------------------------------------
---------------- Team Member Section Style  --------------------
-------------------------------------------------------------------------------
*/
.team-member table{
    border-collapse: collapse;
    margin: auto;
}
.team-member table td, th{
    padding: .5rem;
    font-size: 1.3rem;
}
.team-member  tr{
    border:.2rem solid #FFDA27;
}
.team-member table tr td button:first-child{
    background: #FFDA27;
    border: none;
    outline: none;
    padding: 1rem;
    color: #fff;
    border-radius: 1rem;
}
.team-member table tr td button:last-child{
    background: #FF0000;
    border: none;
    outline: none;
    padding: .5rem;
    color: #fff;
    border-radius: 1rem;
    font-size: 1.5rem;
}
.team-section{
    text-align: right;
    overflow-x: auto;
}
.team-section .add-btn {
    margin: 1rem 1.5rem 1rem 0rem;
    background: #FFDA27;
    color: #FFFFFF;
    border-radius: .5rem;
}




/* 
-------------------------------------------------------------------------------
----------------------- Responsive CSS -------------------------------
-------------------------------------------------------------------------------
*/

@media all and (max-width:500px){
    .square-wrap {
        justify-content: center;
    }
    .mdl-cell--2-col, .mdl-cell--2-col-phone.mdl-cell--2-col-phone {
        width: calc(100% - 16px);
    }
}