/* 
-------------------------------------------------------------------------------
------------------------ Reset Default Style ---------------------------
--------------------------------------------------------------------------------
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,
h4,h5,h6{
    padding: 0;
    margin: 0;
}
html{
    font-size:62.5% ;
}
body{
    font-size: 1.6rem;
    background: #E5E5E5;
}
img{
    max-width: 100%;
}
ul{list-style-type: none;}
.container{
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* 
-------------------------------------------------------------------------------
----------------------- Header Section Style -------------------------
--------------------------------------------------------------------------------
*/
#header-section{
    background:#fff;
    box-shadow: 2px 2px 5px #ddd5d5;
    padding:3px 0;
}
.logo-text h3{
    font-size: 2.5rem;
    text-transform: capitalize;
}
.logo-text span{
    color: #FCD12A;
}
.notification-icon{
    color: #47A5CD;
    font-size: 3rem;
}
.user-name{
    margin:0 .8rem;
}
.user-name h3{
    font-size: 2rem;
}
.user-name span.material-icons{
    font-size: 1.8rem;
}
/* 
-------------------------------------------------------------------------------
----------------------- Video Section Style -------------------------
--------------------------------------------------------------------------------
*/
.content-wrapper{
    background: #fff;
    margin: 1rem;
   border:.2rem solid #d8d7d7;
}
.video-heading{
    padding: .5rem 1rem;
}
.video-heading h2{
    font-size: 2.6rem;
    font-weight: 700;
}
.video-content{
    margin:0 auto 1rem;
}
.video-content video{
    max-width: 50rem;
    height: 30rem;
}
.video-content p {
    width: 50%;
    margin: auto;
    padding: 1rem;
}
.buy-btn{
    background: #FFDA27;
    color: #000;
}
.counter-timer .flex-grid{
    justify-content: center;
}
.counter{
    background:#DF0000;
    padding: 1rem;
    border-radius: 1rem;
    margin:.2rem;
    font-weight: 600;
}
/* 
-------------------------------------------------------------------------------
--------------------- Testimonial Section Style ---------------------
--------------------------------------------------------------------------------
*/
.testimonial{
    padding: 5rem 0rem 2rem;
}
.testimonial h4{
    border-bottom: .2rem solid #FFDA27;
    color: #47A5CD;
    text-transform: capitalize;
    padding-bottom: .5rem;
}
.testimonial p{
    color: #29475D;
    font-weight: 700;
}
.testimonial-video{
    margin-bottom: 1rem;
}
.counter-timer{
    padding:1rem 0;
}
/* 
-------------------------------------------------------------------------------
--------------------- Footer Section Style ---------------------
--------------------------------------------------------------------------------
*/
#footer-section{
    background: #FFDA27;
}
.social-icon li{
    margin-left: 1rem;
}
.social-icon li img{
    width: 80%;
}
.copyright p{
    color: #000000;
}
.copyright p span{
    font-weight: 600;
}
.copyright p span .brand{
    color: #405BA3;
}
.footer-content{
    align-items: center;
    justify-content: center;
}

/* 
-------------------------------------------------------------------------------
-------------------- Style for Responsive View ---------------------
-------------------------------------------------------------------------------
*/
@media all and (max-width:580px){
    .video-content video {
        height: inherit;
    }
    .video-content p {
        width: 80%;
    }
    #header-section{
        text-align: center!important;
    }
    .mdc-top-app-bar__section{
        justify-content: flex-start;
    }
}
